<div class="section">
  <div class="container">
    <div class="box">
      <% if @secret.name.present? %>
        <h4 class="title is-4"><%= @secret.name %></h4>
      <% end  %>
      <div class="buttons">
        <span class="button is-light" id="copy-to-clipboard">
          <span class="icon">
            <i class="fas fa-clipboard"></i>
          </span>
          <span>Copy</span>
        </span>
        <span class="button is-light" id="file-download">
          <span class="icon">
            <i class="fas fa-file-download"></i>
          </span>
          <span>Download</span>
        </span>
      </div>
    </div>
    <div class="field">
      <pre id="encrypted-secret" data-filename="<%= @secret.name.presence || "secret" %>"><%= @encrypted_secret %></pre>
    </div>
  </div>
</div>
