<div class="section">
  <div class="container">

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= form_for @secret, url: {action: "create"} do |f| %>
      <div class="field">
        <%= f.text_area :raw_content, class: "textarea is-primary", size: "80x20", required: true, placeholder: "Paste your secrets here...", autofocus: true %>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Keep it secret. Keep it safe.", class: "button is-primary", data: { "disable-with": "Encrypting..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
