<div class="section">
  <div class="container">
    <%= form_for @secret, url: {action: "create"} do |f| %>
      <div class="field">
        <%= f.text_area :raw, class: "textarea #{@secret.errors[:raw].present? ? 'is-danger' : 'is-primary'}", size: "80x15", required: true, placeholder: "Paste your secrets here...", autofocus: true %>
        <% if @secret.errors[:raw].present? %>
          <p class="help is-danger">Please provide some secrets, no need from all that secrecy if you don't have any!</p>
        <% end  %>
      </div>

      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input", placeholder: "Name your secrets, will be used as filename on download (optional)" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Keep it secret. Keep it safe.", class: "button is-primary", data: { "disable-with": "Encrypting..." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
